<!-- appTitle binded to component member -->

<!-- h1 is host element -->

<h1  appHighlight >Welcome {{appTitle}}</h1>

<app-header>
</app-header>

<!-- 
<app-home>
</app-home>

<app-about>
</app-about>

<app-contact>
</app-contact> -->


<!-- from router module, view container -->

<router-outlet> 
</router-outlet>


<div>

    <!-- event binding () 
         $event - keyword, represent value from emit
         .emit('BLR')  $event = 'BLR'
    -->

    <app-footer [year]="2018 + 2" 
                [company]="appTitle" 
                (contactEvent)="contactHandler($event)"

                >
    </app-footer>
</div>